// Place all the styles related to the zorras controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div{
  
 background-color: white; opacity: 0.9;
  text-align: center;
  
  border-radius: 65px;

  }

  table{
  text-align: center;
  margin: 0 auto;
  }
